<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.library.mapper.TeacherMapper">

    <resultMap id="TeacherResultMap" type="com.example.library.entity.Teacher">
        <id property="teacherId" column="teacher_id"/>
        <result property="department" column="department"/>
        <result property="teacherCategory" column="teacher_category"/>
        <result property="isAdvisor" column="is_advisor"/>
        <result property="position" column="position"/>
        <result property="officePhone" column="office_phone"/>
        <result property="remarks" column="remarks"/>
        <result property="photoUrl" column="photo_url"/>
        <result property="title" column="title"/>
        <result property="userId" column="user_id"/>
        <result property="degree" column="degree"/>
        <result property="chineseName" column="chinese_name"/>
    </resultMap>

    <select id="getAllTeachers" resultMap="TeacherResultMap">
        SELECT t.*, u.chinese_name
        FROM teacher t
        JOIN user u ON t.user_id = u.user_id
    </select>

    <select id="getTeacherById" resultMap="TeacherResultMap">
        SELECT t.*, u.chinese_name
        FROM teacher t
        JOIN user u ON t.user_id = u.user_id
        WHERE t.teacher_id = #{teacherId}
    </select>
</mapper>